.titulo-principal{
    padding-left: 20px;
}
#barbearia{
    width: 100%;
}

.DivPrincipal{
    background: #CCCCCC;
    padding: 30px;
}

.centralizado{
    text-align: center;
}

p{
    text-align: center;
}

#missao{
    font-size: 20px; 
}

em strong{
    color: #FF0000;
}

.itens{
    font-style: italic;
}

.DivBeneficios{
    background: white;
    padding:  20px;
}


ul{
    display: inline-block;
    vertical-align:  top;
    width: 20%;
    margin-right: 15%;
}

.imagemBeneficios{
    width: 50%;
}

